.weather-forcast{
   flex-grow: 1;
   /* height: 100vw; */
   /* background-color: aquamarine; */
   overflow: auto;
   background-color: #F6F6F8;
}

.weather-forcast h1{
    margin: 10px;
 text-align: center;
}
.daily-forcasts-container{
    width: 100%;
    margin-top: 20px;
    display:grid;
    gap:20px;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
}

.forcast-grid{
    background-color:#FFFFFF;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.xex{
    background-color:#D3D7DC;
}
.tmp-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px;
}
#date{
    text-align: center;
}
#type{
    font-size: 10px;
    text-align: center;
}
.daily-data-container{
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
}
.daily-data-container>h2{
    text-align: center;
}
.daily-data{
    padding-inline: 30px;
    display: flex;
    margin-top: 20px;
    flex-direction: column-reverse;
    gap: 20px;
    align-items:  center;

}
.flex-data{
    display: flex;
     flex-wrap: wrap;
     justify-content: center;
}
.flex-data>div{
   display: flex;
   gap: 20px;
   justify-content: space-between;
   background-color:#FFFFFF;
   padding: 10px;
   border-radius: 5px;
   margin: 5px;
   width: 200px;
}
.image-container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-inline: 20px;
}
.image-container>p{
    margin-inline: 20px;
}
.loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-direction: column;
    gap: 10px;
}

@media  (max-width:600px) {
    .daily-forcasts-container{
       display: flex;
       flex-direction: column;
    }
    .forcast-grid{
     width: 250px;
    }
    .weather-forcast>h1{
       margin-top: 30px;
     }
     .flex-data>div{
        width: 250px;
     }
}